<div class="pagination">
    <span class="step-links container">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}"><<</a>
        {% endif %}


        {% for num in page_obj.paginator.page_range %}


            {% if num == page_obj.number %}
                 <span class="btn btn-outline-dark active">{{ page_obj.number }}</span>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
            {% endif %}


        {% endfor %}


        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
