{% extends '_base_tmpl.html' %}

{% block title %}ourEvents{% endblock %}

{% block content %}
{#    {% for event in events %}#}
{#        <h2>#}
{#            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>#}
{#        </h2>#}
{#        <p class="date">Created: {{ event.activated|date:'j E Y, H:i' }} by {{ event.create_by }}</p>#}
{##}
{#        {{ event.eventtext|truncatewords:15|linebreaks }}#}
{#    {% endfor %}#}
{#    {% if is_paginated %}#}
{#        {% include 'eventgen/pagination.html' with page=event %}#}
{#    {% endif %}#}

    {% for event in events %}
    <div class="col-12 col-12-medium mb-4">
        <section class="box feature">
            <a href="#" class="image featured"><img src='' alt="PATH TO EVENT IMG" /></a>
            <div class="inner">
                <header>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.create_by }} at {{ event.created|date:"d E Y  - H:i" }}</p>
                </header>
                <p>{{ event.eventtext | truncatechars:300 }}</p>
            </div>
        </section>
    </div>
    {% endfor %}

{% endblock %}