{% load eventgen_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/eventstiles.css' %}">
</head>
<body>
    <main class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <h2>Total events:<span>{% total_events %}</span></h2>
            <h3>Most commented:</h3>
            {% get_most_commented as most_commented %}
            <ul>
                {% for event in most_commented %}
                    <li>
                        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>